<html>
  
  <head>
    <title>Antonijo Trying To Learn Rails</title>
  </head>
  
  <body>
    <p>Name: <%= @ad.name %></p>
    <p>Description: <%= @ad.description %></p>
    <p>Price: €<%= @ad.price %></p>
    <p>Seller Id: <%= @ad.seller_id %></p>
    <p>Email: <%= @ad.email %></p>
    <p>Created on: <%= @ad.created_at %></p>
  </body>
  
</html>