<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Mobile Phones</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Container -->
    <div class="container">
    
    <!-- Header -->
    <%= render 'layouts/header' %>
    
    <!-- Grid -->
    <div class="row">
    <!-- Phones entries -->
    <div class="col-12 phone-title">
    <%= yield %>
    <!-- /Phones entries -->
    </div>
    <!-- /Grid -->
    </div>
    
    <hr class="above-footer">
    
    <!-- Footer -->
    <%= render 'layouts/footer' %>
    
    <!-- /Container -->
    </div>
  </body>
</html>
